@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

html {
  scroll-behavior: smooth;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root:not(.dark) {
    color: #213547;
    background-color: #ffffff;
  }

}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  :root:not(.light) a:hover {
    color: #535bf2;
  }

}

/* Override system preference when .dark or .light class is set */
:root.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

:root.dark a:hover {
  color: #535bf2;
}


:root.light {
  color: #213547;
  background-color: #ffffff;
}

:root.light a:hover {
  color: #747bff;
}

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    /* --foreground: 224 71.4% 4.1%; */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    /* --primary: 220.9 39.3% 11%; */
    /* --secondary: 220 14.3% 95.9%; */
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Blues */
    --blue-primary: 199 95% 46%;  /* #069AE5 */
    --blue-10: 202 96% 86%;       /* #B9E7FD */
    --blue-20: 203 95% 76%;       /* #88D5FC */
    --blue-30: 203 95% 66%;       /* #56C4FB */
    --blue-40: 203 95% 56%;       /* #24B2F9 */
    --blue-60: 202 95% 35%;       /* #0579B3 */
    --blue-70: 209 95% 25%;       /* #03407C */
    --blue-80: 209 95% 16%;       /* #02294F */
    --blue-90: 209 95% 6%;        /* #010F1E */

    /* Grays */
    --gray-10: 0 4% 86%;          /* #DDDADA */
    --gray-20: 0 4% 76%;          /* #C4BFBF */
    --gray-30: 0 4% 66%;          /* #ACA5A5 */
    --gray-40: 0 4% 56%;          /* #948A8A */
    --gray-primary: 0 4% 46%;     /* #7A7070 */
    --gray-60: 0 4% 26%;          /* #453F3F */
    --gray-70: 0 4% 16%;          /* #2B2727 */
    --gray-80: 0 4% 16%;          /* #2B2727 */
    --gray-90: 0 4% 6%;           /* #100F0F */

    /* Transparent Grays */
    --gray-10-transparent: 0 4% 86% / 33%;
    --gray-30-transparent: 0 4% 66% / 32%;
    --gray-60-transparent: 0 4% 26% / 32%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @keyframes animateShake {
  0% {
  t
  }
  25% {
    border-image-source: conic-gradient(transparent 90deg, #2563eb 90deg);
  }
  50% {
    border-image-source: conic-gradient(transparent 180deg, #2563eb 180deg);
  }
  75% {
    border-image-source: conic-gradient(transparent 270deg, #2563eb 270deg);
  }
  100% {
    border-image-source: conic-gradient(transparent 360deg, #2563eb 360deg);
  }
}
    
@layer utilities {
  .animate-borderRotate {
    animation: borderRotate 1s linear infinite;
    border-width: 2px;
    border-style: solid;
    border-image-slice: 12;
    border-radius: 50px; /* Makes it circular */
  /* }
} */ 

@keyframes subtleShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

@layer utilities {
  .shake-on-hover {
    animation: subtleShake 1s linear;
    transition: transform 0.2s ease-in-out;
  }
}